body{
  background-color: rgb(255, 255, 255);
}

button {
  outline:none;
  -webkit-tap-highlight-color: transparent;
}

.icon:hover {
  color: red;
}

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  direction: rtl; /* flip the scrollbar position */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d1d2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1677ff;
}
/* Ant Design */
.ant-menu {
  background-color: transparent; /* Make menu background transparent */
}

.ant-menu-item {
  color: #fff; /* Text color */
}

.ant-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hover background color */
}

.ant-menu-item-active {
  background-color: rgba(0, 0, 0, 0.2); /* Active menu item background color */
}
